/* ============================================= */
/* Antd nav menu */
/* ============================================= */

.ant-menu-horizontal {
    background: white;
    width: 100%;
    border-bottom: none;
}

.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu {
    margin: 0;
    text-align: center;
    padding: 0 8px;
}

.ant-layout {
    background: transparent;
    overflow: hidden;
    height: 100vh;
}

.ant-layout-header {
    line-height: 28px;
    background: transparent;
    padding-left: 0;
}

.ant-layout-header .ant-menu {
    line-height: 36px;
}

/* ------------------- CUSTOM CSS ------------- */

.main-layout-header {
    height: fit-content;
    width: 100%;
    padding: 0;
}

.main-layout-content {
    min-height: calc(100vh - 120px);
    overflow-y: hidden;
    -ms-overflow-y: hidden;
    background: lightgrey;
}


.main-layout-header .ant-divider-horizontal {
    margin: 0;
    border-color: lightgrey;
}

.ant-divider-horizontal {
    margin: 0;
    border-color: lightgrey;
}

.menu-divider {
    height: fit-content !important;
}

.ant-menu-vertical > .ant-menu-item:hover{
    background: #f4f2fa;
    color: black;
}

.ant-menu-vertical > .ant-menu-item {
    height: fit-content !important;
    color: #4f4f4f;
}